In [1]:
import pandas as pd

#  Reading Data

In [2]:
df = pd.read_csv('data.csv')

In [4]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0  100.292527         0   55          0          -1              0
1  100.248446         1   75          0           0              0
2   98.020088         0   83          1           0              1
3  101.435268         1   10          1           1              1
4  101.350175         0    5          0          -1              0

In [5]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2139  100.291600         1   43          1           0              0
2140  101.389348         1   68          0           1              1
2141  101.603371         1   48          0           1              0
2142  101.334006         1   38          0           0              1
2143   98.248034         1   86          1           1              1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2144 entries, 0 to 2143
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2144 non-null   float64
 1   bodyPain       2144 non-null   int64
 2   age            2144 non-null   int64
 3   runnyNose      2144 non-null   int64
 4   diffBreath     2144 non-null   int64
 5   infectionProb  2144 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 100.6 KB

In [7]:
df['fever'].value_counts()

99.482536     1
101.440801    1
100.529681    1
98.456381     1
99.399921     1
             ..
101.626942    1
100.125463    1
100.375279    1
101.841319    1
98.663426     1
Name: fever, Length: 2144, dtype: int64

In [8]:
df['diffBreath'].value_counts()

-1    734
 0    713
 1    697
Name: diffBreath, dtype: int64

In [9]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2144.000000,2144.000000,2144.000000,2144.000000,2144.000000,2144.000000
mean,99.991124,0.500933,50.810634,0.496269,-0.017257,0.518190
std,1.163231,0.500116,28.700825,0.500103,0.816981,0.499786
min,98.000043,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.965418,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,100.008379,1.000000,51.000000,0.000000,0.000000,1.000000
75%,100.996629,1.000000,75.000000,1.000000,1.000000,1.000000
max,101.997007,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Spliting

In [10]:
import numpy as np

In [11]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [12]:
np.random.permutation(7)

array([1, 4, 5, 3, 0, 6, 2])

In [13]:
train, test = data_split(df, 0.2)

In [14]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2044   98.113654         0   64          0          -1              0
1970  101.637623         1   42          1           0              1
163   100.085289         0   97          0           1              0
203    98.658848         1   45          0          -1              1
840   101.451124         0   71          0           0              0
...          ...       ...  ...        ...         ...            ...
1638  100.695991         1   76          1           0              1
1095  101.521896         1   22          0           0              1
1130   99.460928         1   49          0           0              0
1294  100.850663         0   73          1           0              1
860   100.336698         1   57          0           0              1

[1716 rows x 6 columns]

In [15]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1344   98.501822         0   88          0           1              0
1934   99.453267         0   40          0           1              1
128   100.270806         1  100          0           0              0
332    98.602137         0   37          0           0              1
1163   99.667614         0   35          1           1              1
...          ...       ...  ...        ...         ...            ...
32    101.776921         1   77          1           0              1
544   101.697404         0   52          0          -1              1
1200  101.650376         0    7          0           0              1
508    98.102051         1   88          1           0              0
1332   98.878768         0   73          1           0              0

[428 rows x 6 columns]

In [16]:
X_train = train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
X_test = test[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [17]:
Y_train = train[['infectionProb']].to_numpy().reshape(1716 ,)
Y_test = test[['infectionProb']].to_numpy().reshape(428 ,)

In [18]:
Y_train

array([0, 1, 0, ..., 0, 1, 1], dtype=int64)

In [19]:
from sklearn.linear_model import LogisticRegression

In [20]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [21]:
inputFeatures = [102, 1, 22, 1, 1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [22]:
infProb

0.5384254015774941